DirectoryIndex index.php

RewriteEngine On
RewriteRule ^$ public/index.php [L]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
<FilesMatch "\.php$">
    #<If "%{HTTP_HOST} =~ /.*\.local$/">
      SetHandler "proxy:fcgi://localhost:9074/"
    #</If>
</FilesMatch>